<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VentasBlazor.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos/crear">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Crear Producto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/clientes/crear">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/correos/crear">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Agregar Correo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ventas/crear">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nueva Venta
            </NavLink>
        </div>

    </nav>
</div>

